<sb-layout-dashboard>
  <sb-dashboard-head title="Quản Lý Văn Bản Đến" [hideBreadcrumbs]="false"></sb-dashboard-head>

  <div class="container-fluid">
    <br>
    <div class="col-md-5 form-group pull-right" style="margin-right:2% ;">
      <div class="input-group">
        <input type="text" class="form-control" name="filter" [(ngModel)]="filter" placeholder=" Searching...">
        <span>
          <button title="Tìm Kiếm" class="btn mx-1" type="button" style="background-color: #5ecaca;">Tìm Kiếm</button>
          <button title="Thêm Mới" (click)="clickAdd()" type="button" data-toggle="modal" data-target="#exampleModal"
            class="btn btn-success">Thêm Mới</button>
          <button title="Đã Lưu" type="button" style="background-color: rgb(250, 146, 190);" routerLink="/congviec/lscv"
            class="btn mx-1">Đã Lưu</button>
        </span>
      </div>
    </div>
    <table class="table table-bordered ">
      <thead style="background-color: #69aed6">
        <tr>
          <th scope="col" style="width:11%">Số Thứ Tự</th>
          <th scope="col">Tên Văn Bản Đến</th>
          <th scope="col">Mô Tả Văn Bản Đến</th>
          <th scope="col">Nơi Đến</th>
          <th scope="col">Trạng Thái Công Việc</th>
          <th scope="col">Trạng Thái Báo Cáo</th>
          <th scope="col" style="width:13%">Action</th>
        </tr>
      </thead>
      <tbody style="background-color: #d9e9e9">
        <tr *ngFor="let row of Data| filter:filter">
          <td>{{row.IdVbden}}</td>
          <td>{{row.TenVbden}}</td>
          <td>{{row.MotaVbden}}</td>
          <td>{{row.Noiden}}</td>
          <td><span class="badge badge-primary">{{row.MessageCv}}</span></td>
          <td><span class="badge badge-info">{{row.MessageBaocaobgh}}</span></td>
          <td>
            <a title="Sửa" type="button" data-toggle="modal" (click)="onedit(row)" data-target="#exampleModal"
              class="btn btn-info">Sửa</a>
            <button title="Xóa" class="btn btn-danger mx-2" (click)="deleteVbden(row)">Xóa</button>
            <button title="Lưu" [disabled]="!row.MessageBaocaobgh" class="btn btn-dark mx-1" (click)="save(row)"><i
                class="fas fa-save"></i></button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document" style="margin-top:3% ;">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Chi Tiết Văn Bản Đến</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form #formValue="ngForm">
            <div class="card-body">
              <div class="form-group col-md-12 ">
                <label for="title">Tên Văn Bản Đến<a id="sao"> (*)</a></label>
                <input [class.is-invalid]="Name.invalid && Name.touched" type="text" required
                  [(ngModel)]="QlVbdenModel.TenVbden" #Name="ngModel" class="form-control" name="Name"
                  placeholder="Tên Văn Bản Đến">
                <small *ngIf="formValue.invalid && formValue.touched" class="form-text text-danger">Yêu cầu điền thông
                  tin</small>
              </div>
              <div class="form-group col-12 ">
                <label>Mô Tả Văn Bản Đến</label>
                <textarea [(ngModel)]="QlVbdenModel.MotaVbden" class="form-control" name="mota"
                  placeholder="Mô Tả Văn Bản Đến">
                </textarea>
              </div>
              <div class="form-group col-md-4">
                <label>Tên Nơi Đến</label>
                <select class="form-control" [(ngModel)]="QlVbdenModel.Noiden" name="Noiden">
                  <option value="0" disabled>--Select--</option>
                  <option *ngFor="let data of DataVbden" [ngValue]="data.TenNoiden">{{data.TenNoiden}}</option>
                </select>
                <!-- {{QlPhongbanModel.TenChucvu | json}} -->
                <small class="form-text text-muted" *ngIf="formValue.invalid && formValue.untouched">Chọn Nơi
                  Đến</small>
              </div>
              <div class="form-group col-md-4">
                <label for="Trạng Thái Phê Duyệt">Trạng Thái Phê Duyệt </label>
                <input class="col-md-1" type="checkbox" [(ngModel)]="QlVbdenModel.TrangthaiPheduyet" name="Trangthai">
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button (click)="postVbden()" type="submit" *ngIf="showAdd" value="Submit" [disabled]="formValue.invalid"
            class="btn btn-primary">Add</button>
          <button (click)="updateVbden()" type="submit" *ngIf="showUpdate" value="Submit" [disabled]="formValue.invalid"
            class="btn btn-primary">Update</button>
          <button type="button" id="cancel" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>